<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="#">
        <img src="/assets/img/acnh.png" width="30" height="30" alt="" loading="lazy"> Animal Crossing
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['/home']">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/villagers']">Aldeanos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/music']">Música</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/music']">Objetos</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Colecciones
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Bichos</a>
                    <a class="dropdown-item" href="#">Peces</a>
                    <a class="dropdown-item" href="#">Fósiles</a>
                    <a class="dropdown-item" href="#">Arte</a>
                    <a class="dropdown-item" href="#">Fauna marina</a>
                </div>
            </li>

        </ul>
    </div>
</nav>